body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

input, select, button {
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #444;
}

.task-card {
  background-color: #1f1f1f !important;
  color: #fff;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.task-card.low {
  background-color: #2e7d32 !important; /* greenish */
}
.task-card.medium {
  background-color: #f9a825 !important; /* yellowish */
  color: #000;
}
.task-card.high {
  background-color: #c62828 !important; /* red */
}

button {
  background-color: #03dac6;
  color: #000;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}
button:hover {
  background-color: #018786;
}
